

<div class="row">
  <!-- Card content -->

 <% @event.each do |e| %>
  <div class="card-body col-md-4">
 	<div class="card">

    <!-- Title -->
    	<h4 class="card-title"><%= e.title %></h4>
    <!-- Text -->
     	<p class="card-text"><%= e.description %></p>
    	<p class="card-text"><%= e.start_date%></p>
		<p class="card-text"><%= e.location %></p>
		<p class="card-text"><%= e.price%></p>
    	<a class="btn btn-primary" href="#" role="button">Link</a>
  	</div>
  </div>
<% end %>
</div>
<!-- Card -->




