<section class="card wow fadeIn" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
        <!-- Content -->
    <div class="card-body text-white text-center py-5 px-5 my-5">
        <h1 class="mb-4"><strong>THE EVENT </strong></h1>
        <p>
          <strong>Best & free guide of responsive web design</strong>
        </p>
        <p class="mb-4">
            <strong>The most comprehensive tutorial for the Bootstrap 4. Loved by over 500 000 users. Video and written
              versions available. Create your own, stunning website.</strong>
        </p>
        <a  href="<%=new_event_path%>" class="btn btn-info">Créer un évènement
        </a>
    </div>
        <!-- Content -->
</section>
 <h3 class="mt-3 pb-3 mb-4 font-italic border-bottom">
   </h3>
   <div class="row">
     <%@event.each do |e|%>
      <div class="col-md-4">
         <div class="card">
            <img class="card-img-top" src="//placeimg.com/280/180/tech" alt="Card image cap">
            <div class="card-body">
               <h5 class="card-title border-bottom pb-3"><%=e.title%><a href="#" class="float-right d-inline-flex share"><i class="fas fa-share-alt text-primary"></i></a></h5>
               <p class="card-text">Date de l'évènement<%=e.start_date%><br>
               <span>Prix :	<%=e.price%> Euros</span><br>
               <span>	Durée <%=e.duration%> Minutes</span><br>
               </p>
               <a href="<%= event_path(e.id)%>" class="float-right btn btn-primary">Lire la suite</a>
            </div>
         </div>
      </div>
<%end%>


