
	<div class="row"><br>

		<div class="jumbotron">
          <h1><%=@event.title%></h1>
          <p><%=@event.start_date%></p>
          <p><%=@event.start_date%></p>
		 <p> <%=@event.duration%></p>
          <p><%=@event.description%></p>
          <p><%=@event.location%></p>
         <p> <%=@event.price%></p>
          <p>
          	<a class="btn btn-primary btn-lg">Learn more</a>
          </p>
        </div>
	</div>
	
</div>